body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffecfc;
}

.container{
   margin-top: 5rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 0 10rem;
}


.titulo__principal {
    color: #BAA193;
    font-size: 3rem;
    font-weight: 700;
}

.titulo__principal-destaque {
    display: block;
    color: #8e0076;
    font-size: 8rem;
    font-weight: 900;
    padding-bottom: 3rem;
}

.botao__conselho {
    background-color: #8e0076;
    border: 1px solid #8e0076;
    border-radius: 15px;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 1.2rem 3.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

.botao__conselho:hover{
    cursor: pointer;
    padding: 1.5rem 3.8rem;

}

.wise-cat {
    animation: flutua 3s linear infinite alternate;
    width: 356px;
    height: 478px;
}

@keyframes flutua {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(30px);
    }
}

/*--------página de conselho--------- */

.cabecalho {
    margin: 2rem;
}

.cabecalho__titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #BAA193;
}

.cabecalho__titulo-destaque {
    display: block;
    color: #8e0076;
    font-size: 6rem;
}

.container__conselho {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 auto 5rem auto;
    background-color: #F0DDEE;
    width: 900px;
    height: 350px;
}

.conselho {
    padding: 3rem 5rem 1rem 5rem;
    color: #8e0076;
    font-size: 2rem;
    line-height: 2.1rem;
    font-weight: 700;
}

.conselho__autor {
    color: #BAA193;
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 350px;
}

.conselho__imagem {
    border-radius: 20px;
}
